// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Hardkernel Co., Ltd
 *
 * Copyright (C) 2020 Anand Moon <linux.amoon@gmail.com>
 */

/dts-v1/;
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/input/linux-event-codes.h>
#include <dt-bindings/input/input.h>
#include "rk3399.dtsi"
#include "rk3399-opp.dtsi"

/ {
	model = "Hardkernel ODROID-N1";
	compatible = "hardkernel,odroidn1", "rockchip,rk3399";

	chosen {
		stdout-path = "serial2:115200n8";
	};

	clkin_gmac: external-gmac-clock {
		compatible = "fixed-clock";
		clock-frequency = <125000000>;
		clock-output-names = "clkin_gmac";
		#clock-cells = <0>;
	};

	fan: pwm-fan {
		compatible = "pwm-fan";
		cooling-levels = <0 150 195 255>;
		cooling-min-state = <0>;
		cooling-max-state = <3>;
		#cooling-cells = <2>;
		fan-supply = <&vcc5v0_sys>;
		pwms = <&pwm0 0 40000 0>; /* 25 kHz */
		status = "okay";
	};
	

	adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1500000>;
		poll-interval = <100>;

		recovery {
			label = "Recovery";
			linux,code = <KEY_VENDOR>;
			press-threshold-microvolt = <18000>;
		};
	};

	gpio-keys {
		compatible = "gpio-keys";
		autorepeat;
		pinctrl-names = "default";
		pinctrl-0 = <&pwr_btn>;

		power {
			gpios = <&gpio0 RK_PA5 GPIO_ACTIVE_LOW>;
			label = "GPIO Key Power";
			linux,code = <KEY_POWER>;
			debounce-interval = <100>;
			wakeup-source;
		};
	};

	gpio_leds {
		compatible = "gpio-leds";

		heartbeat {
			label = "blue:heartbeat";
			gpios = <&gpio4 RK_PD2 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
			pinctrl-names = "default";
			pinctrl-0 = <&led_pins>;
		};
	};

	/* VCC12V_SYS */
	vcc12v_dcin: vcc12v-dcin {
		compatible = "regulator-fixed";
		regulator-name = "vcc12v_dcin";
		regulator-always-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};

	/* VCC5V0_SYS */
	vcc5v0_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		/* U13 NB679GD */
		vin-supply = <&vcc12v_dcin>;
	};

	/* VCC3V3_SYS */
	vcc3v3_sys: vcc3v3-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_sys";
		regulator-always-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		/* U10 NB680GD */
		vin-supply = <&vcc12v_dcin>;
	};

	/* VCC3V0_VDD sdmmc */
	vcc3v0_vdd: vcc3v0-vdd {
		compatible = "regulator-fixed";
		/* SDMMC0_PWR_H - TFLASH_PWR_EN */
		gpio = <&gpio0 RK_PA1 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		pinctrl-names = "default";
		pinctrl-0 = <&sdmmc0_pwr_h>;
		regulator-min-microvolt = <3000000>;
		regulator-max-microvolt = <3000000>;
		regulator-name = "vcc3v0_vdd";
		/* RT9179GB */
		vin-supply = <&vcc3v3_sys>;
	};

	/* VCC_EFUSE */
	vcc_efuse: vcc-efuse {
		compatible = "regulator-fixed";
		regulator-name = "vcc_efuse";
		gpio = <&gpio4 RK_PD3 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
		regulator-min-microvolt = <3000000>;
		regulator-max-microvolt = <3000000>;
		/* RT9179GB */
		vin-supply = <&vcc3v3_s0>;
	};

	vcc3v3_pcie: vcc3v3-pcie-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		pinctrl-names = "default";
		pinctrl-0 = <&pcie_drv>;
		regulator-boot-on;
		regulator-name = "vcc3v3_pcie";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc3v3_sys>;
	};

	/* VCCA1V8_S3 */
	vcca1v8_s3: vcca1v8-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vcca1v8_s3";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		/* RT9013-18GB */
		vin-supply = <&vcc3v3_sys>;
	};

	/* VCCA0V9_S3 */
	vcca0v9_s3: vcca0v9-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vcca0v9_s3";
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
		/* RT9078-09J5 */
		vin-supply = <&vcc_1v8>;
	};

	/* VCC_0V9 */
	vcc_0v9: vcc-0v9 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_0v9";
		regulator-always-on;
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
		/* SY8088AAC */
		vin-supply = <&vcc3v3_sys>;
	};

	/* USB_POWER */
	vcc5v0_host: vcc5v0-host {
		compatible = "regulator-fixed";
		/* USB - PWREN */
		gpio = <&gpio4 RK_PD1 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_host_en>;
		regulator-name = "vcc5v0_host";
		regulator-always-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc5v0_sys>;
	};

	/* USB regulator 3.0 */
	vcc5v0_host31: vcc5v0-host31 {
		compatible = "regulator-fixed";
		gpio = <&gpio0 RK_PB4 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_host_en31>;
		regulator-name = "vcc5v0_host31";
		regulator-always-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc5v0_sys>;
	};

	/* USB regulator 3.0 */
	vcc5v0_host32: vcc5v0-host32 {
		compatible = "regulator-fixed";
		gpio = <&gpio0 RK_PB5 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_host_en32>;
		regulator-name = "vcc5v0_host32";
		regulator-always-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vdd_log: vdd-log {
		compatible = "pwm-regulator";
		pwms = <&pwm2 0 25000 1>;
		regulator-name = "vdd_log";
		regulator-always-on;
		regulator-min-microvolt = <800000>;
		regulator-max-microvolt = <1400000>;
		regulator-init-microvolt = <950000>;
		vin-supply = <&vcc3v3_sys>;
	};
};

&cpu_b0 {
	cpu-supply = <&vdd_cpu_b>;
};

&cpu_b1 {
	cpu-supply = <&vdd_cpu_b>;
};

&cpu_l0 {
	cpu-supply = <&vdd_cpu_l>;
};

&cpu_l1 {
	cpu-supply = <&vdd_cpu_l>;
};

&cpu_l2 {
	cpu-supply = <&vdd_cpu_l>;
};

&cpu_l3 {
	cpu-supply = <&vdd_cpu_l>;
};

&cpu_thermal {
	trips {
		cpu_alert2: cpu_alert2 {
			temperature = <45000>;
			hysteresis = <10000>;
			type = "active";
		};
		cpu_alert3: cpu_alert3 {
			temperature = <50000>;
			hysteresis = <10000>;
			type = "active";
		};
		cpu_alert4: cpu_alert4 {
			temperature = <60000>;
			hysteresis = <10000>;
			type = "active";
		};
	};
	cooling-maps {
		map2 {
			trip = <&cpu_alert2>;
			cooling-device = <&fan 0 1>;
		};
		map3 {
			trip = <&cpu_alert3>;
			cooling-device = <&fan 1 2>;
		};
		map4 {
			trip = <&cpu_alert4>;
			cooling-device = <&fan 2 3>;
		};
	};
};

&cluster0_opp {
	opp06 {
		opp-hz = /bits/ 64 <1512000000>;
		opp-microvolt = <1200000>;
		opp-microvolt-L0 = <1200000>;
		opp-microvolt-L1 = <1175000>;
		opp-microvolt-L2 = <1150000>;
		opp-microvolt-L3 = <1125000>;
		clock-latency-ns = <40000>;
	};
};

&cluster1_opp {
	opp08 {
		opp-hz = /bits/ 64 <1992000000>;
		opp-microvolt = <1300000>;
		opp-microvolt-L0 = <1300000>;
		opp-microvolt-L1 = <1275000>;
		opp-microvolt-L2 = <1250000>;
		opp-microvolt-L3 = <1225000>;
		clock-latency-ns = <40000>;
	};
};

&emmc_phy {
	status = "okay";
};

&gmac {
	assigned-clocks = <&cru SCLK_RMII_SRC>;
	assigned-clock-parents = <&clkin_gmac>;
	clock_in_out = "input";
	phy-handle = <&rtl8211f>;
	phy-supply = <&vcc3v3_sys>;
	phy-mode = "rgmii";
	pinctrl-names = "default";
	pinctrl-0 = <&rgmii_pins>, <&phy_intb>, <&phy_rstb>;
	tx_delay = <0x28>;
	rx_delay = <0x11>;

	/* used to pass mac address from boot.scr to set static mac address */
	local-mac-address = [00 00 00 00 00 00];
	status = "okay";

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;

		rtl8211f: phy@1 {
			reg = <1>;
			interrupt-parent = <&gpio3>;
			interrupts = <RK_PB2 IRQ_TYPE_LEVEL_LOW>;
			snps,reset-gpio = <&gpio3 RK_PB7 GPIO_ACTIVE_LOW>;
			snps,reset-delays-us = <0>, <10000>, <50000>;
			snps,reset-active-low;
		};
	};
};

&gpu {
	mali-supply = <&vdd_gpu>;
	#cooling-cells = <2>;
	status = "okay";
};

&hdmi {
	ddc-i2c-bus = <&i2c3>;
	pinctrl-names = "default";
	pinctrl-0 = <&hdmi_cec>;
	status = "okay";
};

&hdmi_sound {
	status = "okay";
};

&i2c0 {
	clock-frequency = <400000>;
	i2c-scl-rising-time-ns = <168>;
	i2c-scl-falling-time-ns = <4>;
	status = "okay";

	/* SYR837PKC */
	vdd_cpu_b: regulator@40 {
		compatible = "silergy,syr827";
		reg = <0x40>;
		fcs,suspend-voltage-selector = <1>;
		pinctrl-names = "default";
		pinctrl-0 = <&cpu_b_sleep>;
		regulator-name = "cpu_b_sleep";
		regulator-min-microvolt = <712500>;
		regulator-max-microvolt = <1500000>;
		regulator-ramp-delay = <1000>;
		regulator-always-on;
		regulator-boot-on;
		vin-supply = <&vcc3v3_sys>;

		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	/* SYR838PKC */
	vdd_gpu: regulator@41 {
		compatible = "silergy,syr828";
		reg = <0x41>;
		fcs,suspend-voltage-selector = <1>;
		pinctrl-names = "default";
		pinctrl-0 = <&gpu_sleep>;
		regulator-name = "vdd_gpu";
		regulator-min-microvolt = <712500>;
		regulator-max-microvolt = <1500000>;
		regulator-ramp-delay = <1000>;
		regulator-always-on;
		regulator-boot-on;
		vin-supply = <&vcc3v3_sys>;

		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	rk808: pmic@1b {
		compatible = "rockchip,rk808";
		reg = <0x1b>;
		clock-output-names = "xin32k", "rk808-clkout2";
		#clock-cells = <1>;

		interrupt-parent = <&gpio1>;
		interrupts = <RK_PC5 IRQ_TYPE_LEVEL_LOW>;

		pinctrl-names = "default";
		pinctrl-0 = <&pmic_int_l>;
		rockchip,system-power-controller;
		wakeup-source;

		vcc1-supply = <&vcc3v3_sys>;
		vcc2-supply = <&vcc3v3_sys>;
		vcc3-supply = <&vcc3v3_sys>;
		vcc4-supply = <&vcc3v3_sys>;
		vcc6-supply = <&vcc3v3_sys>;
		vcc7-supply = <&vcc3v3_sys>;
		vcc8-supply = <&vcc3v3_sys>;
		vcc9-supply = <&vcc3v3_sys>;
		vcc10-supply = <&vcc3v3_sys>;
		vcc11-supply = <&vcc3v3_sys>;
		vcc12-supply = <&vcc3v3_sys>;
		vddio-supply = <&vcc_3v0>;

		regulators {
			/* VDD_CENTER - BUCK1 */
			vdd_center: DCDC_REG1 {
				regulator-name = "vdd_center";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <1350000>;
				regulator-ramp-delay = <6001>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			/* VDD_CPU_L - BUCK2 */
			vdd_cpu_l: DCDC_REG2 {
				regulator-name = "vdd_cpu_l";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <1350000>;
				regulator-ramp-delay = <6001>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			/* VCC_DDR - BUCK3 */
			vcc_ddr: DCDC_REG3 {
				regulator-name = "vcc_ddr";
				regulator-always-on;
				regulator-boot-on;

				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			/* VCC_1V8 - BUCK4 */
			vcc_1v8: DCDC_REG4 {
				regulator-name = "vcc_1v8";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			/* VCC1V8_DVP - NU */
			vcc1v8_dvp: LDO_REG1 {
				regulator-name = "vcc1v8_dvp";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			/* VCC3V0_TP - NU */
			vcc3v0_tp: LDO_REG2 {
				regulator-name = "vcc3v0_tp";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			/* VCC1V8_PMUPLL */
			vcc1v8_pmull: LDO_REG3 {
				regulator-name = "vcc1v8_pmull";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			/* VCC_SDIO */
			vcc_sdio: LDO_REG4 {
				regulator-name = "vcc_sdio";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			/* VCCA3V0_CODEC */
			vcca3v0_codec: LDO_REG5 {
				regulator-name = "vcca3v0_codec";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			/* VCC_1V5 */
			vcc_1v5: LDO_REG6 {
				regulator-name = "vcc_1v5";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1500000>;
				regulator-max-microvolt = <1500000>;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1500000>;
				};
			};

			/* VCCA1V8_CODEC */
			vcca1v8_codec: LDO_REG7 {
				regulator-name = "vcca1v8_codec";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			/* VCC_3V0 */
			vcc_3v0: LDO_REG8 {
				regulator-name = "vcc_3v0";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3000000>;
				};
			};

			/* VSWOUT1 : VCC3V3_S3 */
			vcc3v3_s3: SWITCH_REG1 {
				regulator-name = "vcc3v3_s3";
				regulator-always-on;
				regulator-boot-on;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			/* VSWOUT2 : VCC3V3_S0 */
			vcc3v3_s0: SWITCH_REG2 {
				regulator-name = "vcc3v3_s0";
				regulator-always-on;
				regulator-boot-on;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
		};
	};
};

&i2c1 {
	i2c-scl-rising-time-ns = <300>;
	i2c-scl-falling-time-ns = <15>;
	status = "okay";
};

&i2c3 {
	i2c-scl-rising-time-ns = <450>;
	i2c-scl-falling-time-ns = <15>;
	status = "okay";
};

&i2c4 {
	i2c-scl-rising-time-ns = <600>;
	i2c-scl-falling-time-ns = <20>;
	status = "okay";
};

&i2s0 {
	rockchip,playback-channels = <8>;
	rockchip,capture-channels = <8>;
	#sound-dai-cells = <0>;
	status = "okay";
};

&i2s1 {
	rockchip,playback-channels = <2>;
	rockchip,capture-channels = <2>;
	#sound-dai-cells = <0>;
	status = "okay";
};

&i2s2 {
	status = "okay";
};

&io_domains {
	bt656-supply = <&vcc_1v5>;	/* APIO2_VDD */
	audio-supply = <&vcca1v8_codec>;/* APIO5_VDD */
	sdmmc-supply = <&vcc_sdio>;	/* SDMMC0_VDD*/
	gpio1830-supply = <&vcc_3v0>;	/* APIO4_VDD */
	status = "okay";
};

&pcie_phy {
	assigned-clock-parents = <&cru SCLK_PCIEPHY_REF100M>;
	assigned-clocks = <&cru SCLK_PCIEPHY_REF>;
	assigned-clock-rates = <100000000>;
	status = "okay";
};

&pcie0 {
	ep-gpios = <&gpio2 RK_PC2 GPIO_ACTIVE_HIGH>;
	/* PERST# asserted in S3 */
	pcie-reset-suspend = <1>;
	max-link-speed = <2>;
	num-lanes = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&pcie_clkreqn_cpm &pcie_clkreqnb_cpm &pcie_perst>;
	vpcie3v3-supply = <&vcc3v3_pcie>;
	vpcie1v8-supply = <&vcca1v8_s3>;
	vpcie0v9-supply = <&vcca0v9_s3>;
	status = "okay";
};

&pinctrl {
	buttons {
		pwr_btn: pwr-btn {
			rockchip,pins = <0 RK_PA5 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	leds {
		led_pins: led-pins {
			rockchip,pins = <4 RK_PD2 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};

	pcie {
		pcie_drv: pcie-drv {
			rockchip,pins = <2 RK_PA5 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		pcie_perst: pcie-perst {
			/* PCIE2SATA_ASM1061 - RST */
			rockchip,pins = <2 RK_PC2 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	pmic {
		cpu_b_sleep: cpu-b-sleep {
			/* CPU_SLEEP */
			rockchip,pins = <1 RK_PC1 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		gpu_sleep: gpu-sleep {
			/* GPU_SLEEP */
			rockchip,pins = <1 RK_PB6 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		pmic_int_l: pmic-int-l {
			/* INT_H */
			rockchip,pins = <1 RK_PC7 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};

	phy {
		phy_intb: phy-intb {
			rockchip,pins = <3 RK_PB2 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		phy_rstb: phy-rstb {
			rockchip,pins = <3 RK_PB7 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};


	sdmmc {
		sdmmc0_pwr_h: sdmmc0-pwr-h {
			/* SDMMC0_PWR_H */
			rockchip,pins = <0 RK_PA1 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	spi-pins {
		spi_rx: spi-rx {
			/* SPI_RXD */
			rockchip,pins = <1 RK_PA7 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		spi_tx: spi-tx {
			/* SPI_TXD */
			rockchip,pins = <1 RK_PB0 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		spi_clk: spi-clk {
			/* SPI_CLK */
			rockchip,pins = <1 RK_PB1 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	usbhub {
		vcc5v0_host_en: vcc5v0-host-en {
			/* PWREN */
			rockchip,pins = <4 RK_PD1 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		vcc5v0_host_en31: vcc5v0-host-en31 {
			/* USB3-1_PWR_EN */
			rockchip,pins = <0 RK_PB4 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		vcc5v0_host_en32: vcc5v0-host-en32 {
			/* USB3-2_PWR_EN */
			rockchip,pins = <0 RK_PB5 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};
};

&pmu_io_domains {
	pmu1830-supply = <&vcc_3v0>; /* PMUIO2_VDD */
	status = "okay";
};

&pwm0 {
	status = "okay";
};

&pwm2 {
	pinctrl-names = "active";
	pinctrl-0 = <&pwm2_pin_pull_down>;
	status = "okay";
};

&saradc {
	vref-supply = <&vcca1v8_s3>; /* ADC_AVDD */
	status = "okay";
};

&sdhci {
	/* eMMC_CD */
	cd-gpios = <&gpio0 RK_PA6 GPIO_ACTIVE_LOW>;
	bus-width = <8>;
	keep-power-in-suspend;
	cap-mmc-highspeed;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	max-frequency = <150000000>;
	status = "okay";
};

&sdmmc {
	/* SD_CD */
	cd-gpios = <&gpio0 RK_PA7 GPIO_ACTIVE_LOW>;
	bus-width = <4>;
	cap-sd-highspeed;
	sd-uhs-sdr104;
	disable-wp;
	max-frequency = <150000000>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc_clk &sdmmc_cmd &sdmmc_bus4>;
	vqmmc-supply = <&vcc_sdio>;
	vmmc-supply = <&vcc3v0_vdd>;
	status = "okay";
};

&spi1 {
	status = "okay";
	max-freq = <48000000>;
	pinctrl-names = "default";
	pinctrl-0 = <&spi_rx &spi_tx &spi_clk>;
	cs-gpios = <&gpio2 RK_PB2 GPIO_ACTIVE_HIGH>;

	/* Winbond 25Q128FVSG SPI flash */
	spiflash: w25q128@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "winbond,w25q128", "jedec,spi-nor";
		spi-max-frequency = <104000000>;
		reg = <0>;
	};
};

&tcphy0 {
	status = "okay";
};

&tcphy1 {
	status = "okay";
};

&tsadc {
	/* tshut mode 0:CRU 1:GPIO */
	rockchip,hw-tshut-mode = <1>;
	/* tshut polarity 0:LOW 1:HIGH */
	rockchip,hw-tshut-polarity = <1>;
	rockchip,hw-tshut-temp = <110000>;
	status = "okay";
};

/* USB 2.0 */
&u2phy0 {
	status = "okay";

	u2phy0_otg: otg-port {
		status = "okay";
	};

	u2phy0_host: host-port {
		phy-supply = <&vcc5v0_host>;
		status = "okay";
	};
};

/* USB 3.0 */
&u2phy1 {
	status = "okay";

	u2phy1_otg: otg-port {
		status = "okay";
	};

	u2phy1_host: host-port {
		phy-supply = <&vcc5v0_host>;
		status = "okay";
	};
};

&uart0 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

&usb_host1_ehci {
	status = "okay";
};

&usb_host1_ohci {
	status = "okay";
};

&usbdrd3_0 {
	status = "okay";
};

&usbdrd_dwc3_0 {
	dr_mode = "host";
	status = "okay";
};

&usbdrd3_1 {
	status = "okay";
};

&usbdrd_dwc3_1 {
	dr_mode = "host";
	status = "okay";
};

&vopb {
	status = "okay";
};

&vopb_mmu {
	status = "okay";
};

&vopl {
	status = "okay";
};

&vopl_mmu {
	status = "okay";
};

&rga {
	status = "okay";
};

&vpu {
	status = "okay";
};

&vpu_mmu {
	status = "okay";
};

&vdec_mmu {
	status = "okay";
};

&iep_mmu {
	status = "okay";
};
